<div class="top-row" layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
        <div class="navigation-toggle" hide-gt-sm>
            <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
                       aria-label="Toggle Mobile Navigation">
                <md-icon md-font-icon="icon-menu"></md-icon>
            </md-button>
        </div>

        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">K</span>
            <span class="logo-text">Kick Hustle</span>
        </div>
    </div>

    <div layout="row" layout-align="start center">
        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent"
                              md-mode="indeterminate" md-diameter="32">
        </md-progress-circular>

        <md-button>
            Login as Client
        </md-button>
        <md-button>
            Google Cloud
        </md-button>
        <md-button>
            Logout
        </md-button>
    </div>
</div>