#clients-page-container {

  .center {

    .header {
      height: 136px !important;
      min-height: 136px !important;
      max-height: 136px !important;
      padding: 24px 0;

      .h1 {

        md-icon {
          margin-right: 12px;
        }
      }

      .product-count {
        margin: 6px 0 0 36px;
      }

      .icon-plus {
        vertical-align: middle;
        font-size: 15px;
      }
    }

    .content-card {
      
      .clients-table {
        overflow: scroll !important;
      }

      .toolbar {
        padding: 8px;
      }

      .sortable:after {
        content: '\eaa8';
        position: relative;
        font-family: icomoon;
        font-weight: 400;
        margin-left: 10px;
        top: 2px;
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
      }

      .content {
        padding: 0;
      }

      .clickable {
        cursor: pointer;
        color: #386BBA;
      }

      .clickable:hover {
        color: rgb(3, 155, 229);
      }
    }
  }
}
